#image {
    width: 98vw;
    height: 92vh;
    filter: blur(0.3rem);
    margin: 0;
}

#customerSearch > div:first-child {
    background-color: lightgreen;
    width: 25vw;
    height: 5vh;
}

#customerSearch > div:first-child > h6 {
    font-weight: normal;

}

#customerSearch > div:nth-child(2) {
    width: 25vw;
    height: 20vh;
}

.buttonSet {
    width: 20vw;
}

#itemSearch > div:first-child {
    background-color: lightgreen;
    width: 25vw;
    height: 5vh;
}

#itemSearch > div:first-child > h6 {
    font-weight: normal;
}

#itemSearch > div:nth-child(2) {
    width: 25vw;
    height: 20vh;
}

hr{
    height: 2px;
}

#header{
    z-index: 1;
    background-color: #bfe4ec;
    width: 99vw;

}

#homePageRow{
    right: 2vw;
    width: 100vw;
}

#navHeader>li>a:hover{
    color: #b05219;
    font-weight: bold;
}

#homePageImages>div>img{
    height: 92.5vh;
    width: 100vw;
}


#customerQty,#homePageItemAmount,#homePageOrders{
    position: absolute;
    width: 17vw;
    height: 36vh;
    background-color: rgba(74, 58, 58, 0.96);
    z-index: 2;
    right: 0;
    top: 8vh;
    border-top-left-radius: 32%;
    border-bottom-right-radius: 34%;
}

#customerQty > h4 ,#homePageItemAmount > h4,#homePageOrders>h4{
    position: relative;
    top: 4vh;
    left: 3vw;
    font-weight: bold;
    color: white;
    font-size: 2.5em;
    width: 150px;
}

#customerQty >p,#homePageItemAmount > p{
    position: relative;
    top: 5vh;
    left: 6vw;
    font-weight: bold;
    color: #c8cf33;
    font-size: 4.9em;
    width: 150px;
}

#homePageOrders > p{
    position: relative;
    top: 13vh;
    left: 5vw;
    font-weight: bold;
    color: #c8cf33;
    font-size: 4.9em;
    width: 150px;
}

#homePageItemAmount{
    right: 0;
    top: 55vh;
}

#homePageItemAmount > h4{
    left: 5vw;
    top: 6vh;
    font-size: 2.9em;
}

#homePageOrders{
    left: 0;
   top: 8vh;
}

#homePageOrders>svg:nth-child(2){
    position: absolute;
    top: 11vh;
    left: 8vh;
    width: 87px;

}